extends layout

block content

    h1 Hi, I'm Vinny. You should play my games.
    br

    h2 Finished Projects
    each piece in pieces
        if piece.description.date != "In progress"
            p
                a(href = '/portfolio/#{piece.id}')
                    | !{piece.title}
                | - !{piece.description.short}

    br
    br
    br

    h2 Current Projects
    each piece in pieces
        if piece.description.date == "In progress"
            p
                a(href = '/portfolio/#{piece.id}')
                    | !{piece.title}
                | - !{piece.description.short}

    br
    br
    br

    h3
        a(href = 'https://github.com/GhostBehr')
            | Github

    h3
        a(href = 'mailto:vinnycrupi@hotmail.com?Subject=I%20love%20all%20of%20your%20games%20let%20me%20pay%20you')
            | Contact Me